*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orangered;
    text-align: center;
    height: 100px;
    position: relative; 
}

main{
    background-color: green;
    text-align: center;
    height: 550px;
}

footer{
    background-color: blueviolet;
    text-align: center;
    height: 400px;
}